#blog {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 100%;
	height: 100%;
}

.entry {
	position: relative;
	background: var(--md-sys-color-surface);
	border-radius: var(--md-sys-shape-corner-medium);
	margin: 1rem;
	padding: 1rem;
	overflow: hidden;
	width: 320px;
	height: 340px;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
}

//.entry-headline {}

.entry-body {
	height: calc(100% / 2);
	overflow: hidden;
}

.entry-footer {
	width: inherit;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
