@use './drawer.scss';

#bottombar{
	background: var(--md-sys-color-inverse-on-surface);
	position: fixed;
	bottom: 0;
	right: 0;
	height: 64px;
	width: calc(100% - drawer.$drawer-width);
	display: flex;
	justify-content: end;
}

.contact-icons {
	height: 100%;
	display: flex;
	align-items: center;
	margin-right: 2rem;
}

.contact-icon {
	margin-inline: 1rem;
}
