.projects-section {
	display: inline-flex;
	width: 100%;
	height: 100%;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.project-container {
	display: flex;
	flex-flow: column;
	border-radius: var(--md-sys-shape-corner-medium);
	background: var(--md-sys-color-background);
	margin: 0.1rem;
	padding-block: 0.5rem;
	min-width: 360px;
	max-width: 420px;
	height: fit-content;
	margin-block: 0.5rem;
}

.project-name {
	text-align: center;
}

.project-status {
	padding-left: 0.25rem;
	margin-block: 0.25rem;
	display: inline-flex;
	justify-content: flex-end;
	.status-container  {
		.status {
			display: inline-flex;
			align-items: center;
			.status-span {
				display: inline-flex;
				align-items: center;
				background: var(--md-sys-color-primary-fixed);
				align-items: center;
				padding-inline: 5px;
				padding-block: 2.5px;
				border-radius: var(--md-sys-shape-corner-full);
				margin-right: 1ch;

				.status-circle {
					display: inline-block;
					width: 16px;
					height: 16px;
					border-radius: 9999px;
					margin-right: 1ch;
				}
				
				.red {
					background: red;
				}
				
				.green {
					background: greenyellow;
				}
				
				.blue {
					background: skyblue;
				}
				
				.yellow {
					background: orange;
				}

			}
		}
	}

}

.project-image {
	width: 100%;
	height: 75%;
	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.project-tags {
	display: flex;
	flex-wrap: wrap;
	padding-inline: 0.25rem;
	.tag {
		margin-block: 0.25rem;
		background: var(--md-sys-color-primary-fixed-dim);
		border-radius: 9999px;
		padding-inline: 10px;
		margin-inline: 2px;
		color: var(--md-sys-color-on-primary);
	}
}

.project-description {
	padding-inline: 0.50rem;
	margin-block: 0.25rem;
	text-align: justify;
}

.project-links {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin-top: 0.25rem;
	.project-link {
		margin-inline: 0.25rem;
		margin-block: 0.25rem;
	}
}
