$drawer-width: 96px;
$topbar-height: 64px;
$layout-color: var(--md-ref-palette-black);

#drawer-nav {
	position: fixed;
	top: 0;
	left: 0;
	background: none;
	width: $drawer-width;
	height: 100vh;
}

#drawer-container {
	display: flex;
	width: 100%;
	height: 100vh;
}

#drawer-spacer {
	flex: 0 0 $drawer-width;
}

#drawer-viewer {
	width: 100%;
	height: 100vh;
}

#topbar-spacer {
	width: 100%;
	margin-top: $topbar-height;
}

#view {
	height: calc(100% - $topbar-height * 2);
	overflow: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar{
		display: none;
	}
}

.topbar {
	display: flex;
	position: fixed;
	translate: -$drawer-width;
	width: 100%;
	height: $topbar-height;
	justify-content: flex-end;
	align-items: center;
	background: $layout-color;
	z-index: 100;
}

#drawer-sidenav-container {
	height: calc(100% - $topbar-height);
	position: absolute;
	bottom: 0;
	left: 0;
	width: $drawer-width;
	display: flex;
	justify-content: center;
	align-items: center;

	nav ul  {
		padding: 0px;
		list-style: none;
	}
}

.toggle-btn {
	margin-right: 2rem;
}

.icon-bottom {
	position: absolute;
	bottom: 0;
}
