.home-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.code-snippet {
	padding: 1rem;
	// background: var(--md-sys-color-surface-tint);
	background: #073642;
	border-radius: var(--md-sys-shape-corner-small);
}

.tab {
	white-space: pre;
	tab-size: 4;
}

.font-hack {
	font-size: 16px;
	font-family: hack;
	line-height: 1;
}

.red {
	color: #dc322f;
}

.blue { 
	color: #268bd2;
}

.cyan {
	color: #2aa198;
}

.green {
	color: #859900;
}
