$icon-color: var(--md-sys-color-primary);


.icon {
	font-size: 36px;
	color: $icon-color;

	&::before {
		color: $icon-color;
	}

	svg {
		color: $icon-color;
		fill: $icon-color;
	}
}

.icon-container {
	width: 48px;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 9999px;
	background: var(--md-sys-color-on-primary);
	margin-block: 1rem;
}

