@use './scss/blog.scss';
@use './scss/bottombar.scss';
@use './scss/briefcase.scss';
@use './scss/drawer.scss';
@use './scss/home.scss';
@use './scss/icons.scss';

.container {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: black;
}

.span {
	font-family: hack;
	font-weight: bold;
	font-size: 1.25rem;
	color: whitesmoke;
}

.todo {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	text-align: center;
}

body {
	background: var(--md-sys-color-inverse-on-surface);
}

.flex {
	display: flex;
}

.full-widht {
	width: 100%;
}

.spinner-ctn {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.spinner {
  display: inline-block;
  width: 75px;
  height: 75px;
  border: 3px solid var(--md-sys-color-surface-container-lowest);
  border-radius: 50%;
  border-top-color: var(--md-sys-color-primary-container);
  animation: spin 900ms ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}


@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
